<nav class="grid-item-nav navbar bg-dark justify-content-end sticky-top">
    <a href="/auth/edit" class="navbar-brand text-muted fs-6">Edit profile</a>
    <a class="btn btn-light mx-4" href="/logout">Log out</a>
</nav>