<%- include("partials/head.ejs"); %>
<div class="d-flex flex-column align-items-center">
    <div class="my-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="black" class="bi bi-spotify" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.669 11.538a.498.498 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686zm.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858zm.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288z"/>
        </svg>
        <a href="/home" class="px-1 navbar-brand text-black fs-3">Spotify Lite</a> 
    </div>
    <div class="horizontal-line mb-3"></div>
    <div class="w-50">
        <div class="d-flex flex-column align-items-center">
            <p class="bold font-small text-center">To continue, log in to Spotify.</p>
            <a class="btn btn-primary px-5 py-2 mb-2 w-100 button-radius">CONTINUE WITH FACEBOOK</a>
            <a class="btn btn-dark px-5 py-2 mb-2 w-100 button-radius">CONTINUE WITH APPLE</a>
            <a class="btn btn-light px-5 py-2 mb-2 w-100 button-radius button-border">CONTINUE WITH GOOGLE</a>
        </div>
        <p class="my-4 bold font-small text-center">Or log in with your email</p>
        <p class="text-center text-danger hidden" id="alert-message"></p>
        <form id="login-form">
            <div class="form-outline mb-4">
                <label class="form-label bold font-small" for="email">Email address or username</label>
                <input type="text" id="email" name="email" class="form-control" required onkeyup="validateEmail()" />
                <p id="email-validate-message" class="hidden text-danger">Please enter your email or username</p>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label bold font-small" for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" required onkeyup="validatePassword()" />
                <p id="password-validate-message" class="hidden text-danger">Please enter your password</p>
            </div>
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="remember" checked />
                        <label class="form-check-label" for="remember"> Remember me </label>
                    </div>
                </div>
                <div class="col">
                    <a href="#!">Forgot password?</a>
                </div>
            </div>
            <input type="submit" class="button-radius w-100 btn btn-success btn-block mb-4" value="Log in"/>
        </form>
        <div class="w-100 horizontal-line mb-3"></div>
        <p class="my-4 bold text-center">Don't have an account?</p>
        <a href="/signup" class="btn btn-light px-5 py-2 mb-2 w-100 button-radius button-border">SIGN UP FOR SPOTIFY</a>
    </div>    
</div>
<script src="/public/scripts/login.js"></script>
<%- include("partials/footer.ejs"); %>
